@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;400;700&family=Raleway:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
 --main-white: #f0f0f0;
 --main-red: #be3144;
 --main-blue: #45567d;
 --main-gray: #303841;
}
/* Base reset */
/* the universal selector below was used to set general padding and margin on the whole page, this makes all the sections stretch to the end of the page at all sides*/
*{padding: 0;
margin: 0;
}

html{
font-size: 62.5%;
 scroll-behavior: smooth;
}

body {
 font-family: 'Poppins', sans-serif;
 font-size: 1.8rem; /* 18px */
 font-weight: 400;
 line-height: 1.4;
 background: #333;
box-sizing: border-box;
}

h1, h2{
 font-family: 'Raleway', sans-serif;
}

header{
 display: grid;
 grid-template-columns: 5fr 4fr 1fr;
 background: #be3144;
 position: sticky;
 top: 0;
 left: 0;
width: 100%;
 z-index: 1;
 padding: 30px;
margin: 0;
 font-family: 'Montserrat', sans-serif;
 box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

header li, header a, .call-me {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav li{
  list-style: none;
  display: inline-block;
  text-align: center;
}

#logo{
  cursor: pointer;
  width: 160px;
  font-size: 18px;
  color: white;
}

nav li a{
  margin: 0 15px;
  transition: all 0.2s ease 0s;
}

nav li a:hover{
  color: #0088a9;
  background: white;
  padding: 32px 10px;
  font-weight: 600; 
}

header .call-me{
  background: #0088a9;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  box-shadow: 0 3px 10px #a17a69;
  margin-right: 80px;
  font-weight: 600; 
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.hero{
 background: url('./images/picx.jpg');
background-size: contain;
position: relative;
width: 105%;
height: 100%
padding: 0;
margin: 0 0 10px 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: no-wrap;
}

.hero h1{
 color: white;
 font-size: 7rem;
 font-weight: 700;
 margin-bottom: 0px;
text-align: center;
}

.hero p{
 color: white;
 font-size: 4rem;
 margin-top: 0px;
 font-style: italic;
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
 text-align: center;
}

.background{
  background-color: #000;
  padding: 20px;
   height: auto;
width: 100vw;
   text-align: center;
   margin-bottom: 10px;
}

.background .about{
   width: 90%;
   height: auto;
   color: white;
   margin: 40px auto;
}

.title{
  margin-bottom: 30px;
  font-size: 3.2rem;
  color: white;
}

.subtitle{
  margin-bottom: 20px;
  font-size: 2.6rem;
  font-weight: 500;
  height: auto;
}

.learn-more {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.learn-more a{
  text-decoration: none;
  color: #0088a9;
}

.skills{
  text-align: center;
height: auto;
padding-bottom: 40px;
}

.skills .title{
  margin-top: 40px;
}

.skills-wrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
 flex-wrap: nowrap;
 padding-bottom: 20px;
}

.container{
  height: auto;
  background-color: transparent;
  color: white;
  display: inline-block;
  padding: 15px;
  width: 24.875rem;
  height: 24.25rem;
  margin: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgb(184, 180, 180);
}

.skills-wrapper img{
  background-color: transparent;
  width: 14.875rem;
  height: 14.25rem;
  margin: 1px;
}

#rule{
  margin-bottom: 40px;
}

#projects-background{
  padding: auto;
}

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects .proj-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 980px;
  height: auto;
  margin-bottom: 120px;
}

#projects img{
  height: 300px;
  width: 460px;
  min-width: 200px;
  margin-bottom: 20px;
}

#projects .container{
  width: 400px;
  height: 280px;
  margin-top: 60px;
}

#projects .container p{
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: 20px;
}

#projects .container h3{
  color: #0088a9;
}

.view{
  padding: 10px 20px;
  border: 2px solid #0088a9;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
}

#butn{
  padding: 10px;
  color: #0088a9;
  }

  #butn a{
  text-decoration: none;
  color: #0088a9;
  }

  .contact{
    color: white;
    height: auto;
  }
  #contact{
    margin-bottom: 10px;
  }

.contact .title{
  font-size: 23px;
}

.contact form{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.contact .form-control{
  margin-bottom: 20px;
  padding: 10px;
  background: #303030;
  font-size: 18px;
  color: white;
  min-width: 600px;
}

.contact .butn, #butn{
background-color: transparent;
color: #0088a9;
font-size: 16px;
font-weight: 600;
width: auto;
padding: 15px 20px;
border-radius: 20px;
margin: 20px 0 40px 0;
border: 2px solid #0088a9;
}

.contact-details{
  background-color: #000;
}

.cont-links{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  margin-bottom: 10px;
}

.cont-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

footer{
 text-align: center;
 padding: 2% 0;
width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.first, .second{
  margin-bottom: 1.5%;
  color: white;
}

/*settings for diffrent screen sizes using media query */
@media screen and (max-width: 1024px){
header{
  display: grid;
  grid-template-columns: 1.9fr 6fr 0.1fr;
 }
 nav ul{
  margin: 0 10px 0 10px;
} 
 nav li a{
   margin: 0 4px;
 } 
 header .call-me{
   margin-right: 50px; 
   width: 70px;
 }
 .hero{
  height: 70vh;
 }
 
 .hero h1{
  font-size: 6rem;
 }
 
 .hero p{
  font-size: 2.6rem;
 }
 
 .about{
   padding: 4%;
   font-size: 1.8rem;
 }
 #skills h2{
 font-size: 2.4rem;
}

.skills-wrapper img{
  padding: 20px;
  width: 13.975rem;
  height: 13.925rem;
  margin: 12px;
}
.projects-grid h2{
  font-size: 2.5rem;
}

.projects-grid img{
  padding: 20px;
  width: 13.875rem;
  height: 13.25rem;
  margin: 20px 12px 15px 0;
}

#butn{
  width: 90px;
  }

.contact-section{
 padding: 3% 2rem;
}

.cont-header{
  font-size: 1.6rem;
  margin-bottom: 2%;
}

.cont-links{
 font-size: 1.7rem;
}

footer{
 padding: 3% 0;
}

.first{
  margin: 0 5% 3% 5%;
  font-size: 1.8rem;
}
.second{
  font-size: 1.7rem;
}
}

@media screen and (max-width: 800px){
  header{
    display: grid;
    grid-template-columns: 1fr 4fr 0.1fr;
   }
   nav li a{
     margin: 0 4px;
     font-weight: 500;
   } 
   header .call-me{
    margin-right: 15px; 
    width: 60px;
   }

   .hero{
    height: 60vh;
   }
   
   .hero h1{
    font-size: 5rem;
   }
   
   .hero p{
    font-size: 2.5rem;
   }
   
   .about{
     padding: 3%;
     font-size: 1.6rem;
   }
   #skills h2{
   font-size: 2.4rem;
  }
 
  .skills-wrapper img{
    padding: 16px;
    width: 9.975rem;
    height: 9.925rem;
    margin: 8px;
  }
  .projects-grid h2{
    font-size: 2.4rem;
  }
  
  .projects-wrapper img{
    padding: 4px;
    width: 9.875rem;
    height: 9.25rem;
    margin: 20px 8px 15px 0;
  }
  
  #butn{
    width: 80px;
    }
  
  .contact-section{
   padding: 3% 2rem;
  }
  
  .cont-header{
    font-size: 1.6rem;
    margin-bottom: 2%;
  }
  
  .cont-links{
   font-size: 1.7rem;
  }
  
  footer{
   padding: 3% 0;
  }
  .first{
    margin: 0 4% 3% 4%;
    font-size: 1.7rem;
  }
  .second{
    font-size: 1.7rem;
  }
  }

  @media screen and (max-width: 680px){
   
 header{
      padding: 10px 40px;
    }
    nav ul{
      margin: 0 15px 0 30px;
    }
     nav li a{
      display: inline-block;
      margin: 2px 8px;
      font-weight: 500;
     } 
     header .call-me{
       display: none;
     }
     nav li a:hover{
      padding: 12px 8px;
    }
    }

    @media screen and (max-width: 480px){
    *{padding: 0;
margin: 0;
}
body {
box-sizing: border-box;
}
 header{
        display: flex;
flex-direction: column;
        justify-content: center;
align-items: center;
        font-weight: 500;
      }
header .call-me {
  display: none;
}

nav li{
  display: block;
margin-bottom: 8px;
  width: 100%;
}

#logo{
  width: 100%;
  font-size: 16px;
text-align: center;
margin-bottom: 8px;
}

nav li a{
  margin: 5px 15px;
  transition: all 0.2s ease 0s;
width: 100%;
}

nav li a:hover{
 width: 100%;
margin: 5px 15px;
}

.hero{
width: 120%;
margin: 0 0 8px 0;
}
  .hero h1{
 font-size: 3rem;
}
       
 .hero p{
 font-size: 1.4rem;
       }

.background{
min-width: 110%;
margin-right: 0;
margin-bottom: 8px;
}
.subtitle{
  font-size: 22px;
}

       #skills h2{
        font-size: 1.5rem;
       }
      
    .skills-wrapper img{
         padding: 14px;
         width: 6.975rem;
         height: 6.925rem;
         margin: 8px;
         margin: 20px 8px 15px 0;
       }
  
#projects .proj-section{
  max-width: 380px;
  height: auto;
}

#projects img{
  height: 300px;
  width: 340px;
  min-width: 100px;
  margin-bottom: 20px;
}

#projects .container{
  width: 280px;
  height: 300px;
  margin-top: 60px;
}

#projects .container p{
  font-size: 18px;
}


.title{
  font-size: 18px;
}

 .contact{
margin: 0;
display: flex;
flex-direction: column;
justify-content: space-beween;
padding: 40px 60px;
}
 .contact form{
width: 20px;
}  
form .form-control{
width: 20px;
}
.cont-header{
         font-size: 1.2rem;
         margin-bottom: 2%;
       }
       
       .cont-links{
        font-size: 1.2rem;
        margin: 0 3%;
       }
      
       .first{
         margin: 0 6% 3% 6%;
         font-size: 1.4rem;
       }
       .second{
         font-size: 1.2rem;
margin-bottom: 0;
       }
       } 

    
